<% if (post.date) { %>
    <div class="<%= class_name %>">
      <i class="fa fa-calendar"></i>
      <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
         <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
      </a>
    </div>
<% } %>
<% if (post.updated) { %>
  <div class="<%= class_name %>">
    <i class="fa fa-calendar-plus-o"></i>
    <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
       <time datetime="<%= date_xml(post.updated) %>" itemprop="dateModified"><%= date(post.updated, date_format) %></time>
    </a>
  </div>
<% } %>
