<% if (post.lang) { %>
  <%
    var lang = post.lang;
    var lang_flag = '';
    if (lang) {
        if (lang == 'fr') {
            lang_flag = '🇫🇷';
        } else if (lang == 'en') {
            lang_flag = '🇬🇧';
        }
    }
  %>
  <div class="article-lang">
    <%- lang_flag %>
  </div>
<% } %>
