<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <% if (!['page','authors','tags','categories'].includes(post.layout)) { %>
            <div class="article-meta">
                <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                <%- partial('post/author') %>
                <%- partial('post/tag') %>
                <%- partial('post/lang') %>
                <%- partial('post/valinecounter') %>
                <%- partial('post/counter') %>
            </div>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
            <%- partial('authors', { post: post }) %>
            <%- partial('tags', { post: post }) %>
            <%- partial('categories', { post: post }) %>
            <%- post.content %>
        </div>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
    <%- partial('post/ld_json', { post: post }) %>
</article>
<%- partial('comment/index') %>
