<article class="article article-summary<%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>">
    <div class="article-summary-inner">
        <% if (theme.customize.thumbnail === true) { %>
        <%- partial('common/thumbnail', { counter: true }) %>
        <% } %>
        <div class="article-meta">
            <div class="category">
            <%- list_categories(post.categories, {
                depth:2,
                style: 'none',
                show_count: false,
                class: 'article-category',
                separator: '<i class="icon fa fa-angle-right"></i>',
            }) %>
            </div>
            <div class="date"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time></div>
            <%
                var lang = post.lang;
                var lang_flag = '';
                if (lang) {
                    if (lang == 'fr') {
                        lang_flag = '🇫🇷';
                    } else if (lang == 'en') {
                        lang_flag = '🇬🇧';
                    }
                }
            %>
            <div class="flag">
                <%- lang_flag %>
            </div>
        </div>
        <%- partial('post/title', { class_name: 'article-title', linkable: true }) %>
        <p class="article-excerpt">
            <%- excerpt(post) %>
        </p>
    </div>
</article>
