<% if (typeof(script) !== 'undefined' && script) { %>
  <div id="graphcomment"></div>
  <script type="text/javascript">
    /* - - - CONFIGURATION VARIABLES - - - */
    var __semio__params = {
      graphcommentId: "<%= theme.comment.graphcomment %>",

      behaviour: {
        uid: "<%= page.slug || page.permalink %>", // uniq identifer for the comments thread on your page (ex: your page id)
      },
    }
    function __semio__onload() {
      __semio__gc_graphlogin(__semio__params)
    }
    (function() {
      var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
      gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
    })();
  </script>
<% } else { %>
  <div id="graphcomment_thread">
      <noscript>Please enable JavaScript to view the <a href="https://graphcomment.com/?ref_noscript">comments powered by GraphComment.</a></noscript>
  </div>
<% } %>
